.contenidor {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 10em;
  margin-top: 5em;
}

.contenidor h2 {
  color: rgb(134, 16, 16);
  display: flex;
  font-size: 4em;
  justify-content: center;
}

.grupInput {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
}

.grupInput label {
  color: rgb(134, 16, 16);
  display: flex;
  font-size: 1.5em;
  left: 0;
  text-align: left;
}

.grupInput input {
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  border: none;
  display: flex;
  font-size: 1.5em;
  height: 2em;
  padding: 0 15px;
  width: 15em;
}

button {
  align-items: center;
  background-color: rgb(134, 16, 16);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-weight: 600;
  display: flex;
  height: 2em;
  justify-content: center;
  margin-bottom: 3em;
  margin-top: 1em;
  padding: 2em;
}
